<h1>Create Drink</h1>
<div class="card mb-3">
  <div class="card-body">
    <form [formGroup]="formGroup" (ngSubmit)="createDrink()">
      <div class="mb-3">
        <label class="form-label" for="name">Name</label>
        <input [class.is-invalid]="isInvalidAndTouchedOrDirty(formGroup.controls.name)" formControlName="name" type="text" class="form-control" id="name">
        <small class="text-danger" *ngIf="isInvalidAndTouchedOrDirty(formGroup.controls.name)">
          <ng-container *ngIf="formGroup.controls.name.hasError('required')">
            The name is required
          </ng-container>
          <ng-container *ngIf="formGroup.controls.name.hasError('minlength')">
            The name must have a minimum of {{ formGroup.controls.name.errors!['minlength'].requiredLength }} characters
          </ng-container>
        </small>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Price</label>
        <input [class.is-invalid]="isInvalidAndTouchedOrDirty(formGroup.controls.price)" formControlName="price" type="number" class="form-control" id="price">
        <small class="text-danger" *ngIf="isInvalidAndTouchedOrDirty(formGroup.controls.price)">
          <ng-container *ngIf="formGroup.controls.price.hasError('required')">
            The price is required
          </ng-container>
          <ng-container *ngIf="formGroup.controls.price.hasError('min')">
            The minimum price must be {{ formGroup.controls.price.errors!['min'].min }}
          </ng-container>
        </small>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea [class.is-invalid]="isInvalidAndTouchedOrDirty(formGroup.controls.description)" formControlName="description" class="form-control" id="description"></textarea>
        <small class="text-danger" *ngIf="isInvalidAndTouchedOrDirty(formGroup.controls.description)">
          <ng-container *ngIf="formGroup.controls.description.hasError('required')">
            The description is required
          </ng-container>
          <ng-container *ngIf="formGroup.controls.description.hasError('minlength')">
            The description must have a minimum of {{ formGroup.controls.description.errors!['minlength'].requiredLength }} characters
          </ng-container>
        </small>
      </div>
      <div class="mb-3">
        <label class="form-label d-block">Category</label>
        <div class="form-check form-check-inline">
          <input formControlName="category" class="form-check-input" type="radio" id="inlineRadio1" value="sweet">
          <label class="form-check-label" for="inlineRadio1">Sweet</label>
        </div>
        <div class="form-check form-check-inline">
          <input formControlName="category" class="form-check-input" type="radio" id="inlineRadio2" value="low-sugar">
          <label class="form-check-label" for="inlineRadio2">Low Sugar</label>
        </div>
        <div class="form-check form-check-inline">
          <input formControlName="category" class="form-check-input" type="radio" id="inlineRadio3" value="no-sugar">
          <label class="form-check-label" for="inlineRadio3">No Sugar</label>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image</label>
        <select [class.is-invalid]="isInvalidAndTouchedOrDirty(formGroup.controls.image)" formControlName="image" class="form-control" id="image">
          <option *ngFor="let image of drinksImageUrls" [value]="image">
            {{ image }}
          </option>
        </select>
        <small class="text-danger" *ngIf="isInvalidAndTouchedOrDirty(formGroup.controls.image) && formGroup.controls.image.hasError('required')">
          The image is required
        </small>
        <img *ngIf="formGroup.value.image" [src]="formGroup.value.image" class="d-block mt-3 rounded"
             style="max-width: 150px">
      </div>
      <div class="text-end">
        <button type="button" class="btn btn-outline-secondary me-2"
                routerLink="/admin/drinks">Cancel
        </button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>