@import "styles/variables";
$primary: $brown;
@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: 'TaoBin';
  src: url('/fonts/taobin.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'TaoBin', sans-serif;
  background-color: $very-light-brown;
}

.container {
  max-width: 600px;
}

